<!DOCTYPE html>
<html>
<head>
	<title>vue使用之模板语法之指令</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="./vue.js"></script>
</head>
<body>

	<div id="app">
		<input type="text" name="input" v-model="msg">
		<button @click="submit()">提交</button>
		<ul>
			<li v-for="item of list">{{item}}</li>
		</ul>
	</div>

	<script type="text/javascript">
		var app = new Vue({
			el:'#app',
			data:{
				msg:'',
				list:[],
			},
			methods:{
				submit : function(){
					// console.log(this.msg);
					this.list.push(this.msg);
					this.msg = '';
				}
			}

		})
	</script>

</body>
</html>